

 <div class="row justify-content-center align-items-center">
    <div class="card col-4">
      <form #userForm="ngForm">
        <div class="card-body register-card-body form-group">
          <p class="login-box-msg text-bold">Register a new member</p>
  

            <div class="input-group mt-3 " >
              <input required #Fname="ngModel" name="Fname" type="text" ngModel class="form-control" id="txtfullname" [(ngModel)]="arrEmployee.FullName" placeholder="Full Name" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div *ngIf="Fname.invalid && Fname.touched">
              <span  class="error">* Please enter full name.</span>
            </div>

            <div class="input-group mt-3 form-group">
              <input required #email="ngModel" name="email" email ngModel type="email" class="form-control" id="txtEmail" [(ngModel)]="arrEmployee.Email" placeholder="Email"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div *ngIf="email.invalid && email.touched">
              <span  class="error">* Please enter valid email.</span>
            </div>

            <div class="input-group mt-3">
              <input required #password="ngModel" ngModel minlength="3" maxlength="5" name="password" type="password" class="form-control" id="txtPassword" [(ngModel)]="arrEmployee.password" placeholder="Password"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div *ngIf="password.invalid 
                        && password.touched">
              <span  class="error">* Please enter valid password.</span>
            </div>

            <div class="input-group mt-3">
              <input  required #conPassword="ngModel" ngModel name="conPassword" type="password" class="form-control" id="txtCon_Password" [(ngModel)]="arrEmployee.ConfPassword" placeholder="Retype password"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="error" *ngIf="conPassword.touched 
                                      && conPassword.invalid">
              * Please enter valid password.
            </div>  
            <div class="error" *ngIf="MustMatch(password.value, conPassword.value) 
                                      && conPassword.touched 
                                      && conPassword.valid">
              * Retype password
            </div>
            
            

            <div class="row mt-3">
              <div class="col-9">
                <div class="icheck-primary">
                  <input ngModel required type="checkbox" id="agreeTerms" name="terms" value="agree"/>
                  <label for="agreeTerms" class="ml-2">
                  I agree to the <a href="#">terms</a>
                  </label>
                  
                </div>
                
              </div>
              <!-- /.col -->
              <button  [disabled]="userForm.invalid" type="button" (click)="RegisterUser()" class="mb-2 btn btn-primary btn-block ml-3 mr-3">Register</button>
                
         
              <!-- /.col -->
            </div>
        
  
        
  
          <a href="index.aspx" class="text-center ">I already have a member</a>
        </div>
        <!-- /.form-box -->
      </form>
      </div><!-- /.card -->
  </div> 
