
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let emp of ArrEmployee; let indexOfelement=index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.FullName}}</td>
            <td>{{emp.Email}}</td>
            <td><a (click)="Update(emp)"><i class="fa fa-edit"></i></a>  |  
                <a (click)="Delete(emp)"><i class="fa fa-trash" style="color: red"></i></a>
            </td>
        </tr>

    </tbody>

</table>