

<app-header></app-header>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <router-outlet></router-outlet>    
      </div>
    </section>
  </div>
<app-footer></app-footer>