
<div class="row justify-content-center align-items-center">
    <div class="card col-4">
        <div class="card-body register-card-body">
            <button type="button" class="close" data-dismiss="card">&times;</button>
          <p class="login-box-msg text-bold">Update Details</p>
          
        
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="txtfullname" [(ngModel)]="arrEmployee.FullName" placeholder="Full name"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="txtEmail" [(ngModel)]="arrEmployee.Email"  placeholder="Email"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="txtPassword" [(ngModel)]="arrEmployee.password" placeholder="Password"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="txtCon_Password" [(ngModel)]="arrEmployee.password" placeholder="Retype password"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              
              <!-- /.col -->
              <button  type="button" (click)="update()" class="btn btn-primary btn-block ml-3 mr-3 mb-2">Save Changes</button>
              <a routerLink="/profile">Cancel</a>
         
              <!-- /.col -->
            </div>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  